@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

/* reuse styles start */
.title{
    font-size: 30px;
}

.button{
    border: none;
    padding: 13px 30px;
    background-color: #0fa4af;
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 18px;
    border-radius: 8px;
}
.button:hover{
    background-color: #204950;
    transition: 0.2s ease all;
}
/* reuse styles end */


body{
    width: 80%;
    margin: auto;
    background-color: #F5F5F5;
}
/* header section style start */
.header_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.header_section_button{
    border: none;
    padding: 13px 30px;
    background-color: #0fa4af;
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 18px;
    border-radius: 8px;
}
.header_section_button:hover{
    background-color: #204950;
    transition: 0.2s ease all;
}
.special_ch{
    color: red;
}
/* header section style end */

/* banner_section style start */
.banner_section{
    background-color: #C6E4D6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.banner_section_title{
    font-size: 40px;
    color: black;
    padding: 30px 0;
}
.banner_section_small{
    color: black;
}
.banner_section_button{
    border: none;
    padding: 13px 30px;
    background-color: #006A50;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 18px;
    border-radius: 8px;
}
.banner_section_button:hover{
    background-color: white;
    transition: 0.2s ease all;
    color: black;
}
/* banner_section style end */

/* pillars card style start */

.pillars_section{
    margin-top: 90px;
}
.pillars_section_title{
    font-size: 30px;
}
.pillars_card{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.card{
    background-color: white;
    border-radius: 20px;
    padding: 25px;
}
.card h1{
    font-size: 20px;
    margin: 10px 0;
}
.card p{
    font-size: 16px;
    line-height: 25px;
}
/* pillars card style end */

/* The Vision of Future style start */
.the_vision_of_future{
    margin-top: 170px;
}
.vision_pera{
    font-size: 15px;
    line-height: 25px;
    margin-top: 15px;
}
.future_card_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.future_card{
    background-color: lightsalmon;
    padding: 20px;
    border-radius: 10PX;
    margin-top: 30px;
}

.future_card_one{
    background-color: #D5E1F5;
}
.future_card_one > button{
    background-color: #548FF5;
}
.future_card_two{
    background-color: #C6E4D6;
}
.future_card_two > button{
    background-color: #04A15B;
}
.future_card_three{
    background-color: #F7EBCF;
}
.future_card_three > button{
    background-color: #FFC13A;
}
.future_card img{
    width: 50px;
    margin-bottom: 20px;
}
.future_card h1{
    font-size: 22px;
}
.future_card p{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* The Vision of Future style end */

/* qoute section style start */
.quote_section{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 50px 25px;
    border: 1px solid #0e0e0e2a;
    margin-top: 40px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}
.quote_section_pera{
    font-size: 15px;
    line-height: 25px;
}
.quote_section_heading{
    margin: 20px 0 0 0;
}
/* qoute section style end */

/* recent section style start */
.recent_section{
    margin-top: 150px;
}
.recent_news_pera{
    font-size: 15px;
    line-height: 25px;
    margin: 20px 0 30px 0;
}
.news_section_card{
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    border-radius: 15px;
}
.news_section_card_img{
    border-radius: 15px;
}
.news_time_date{
    margin-top: 15px;
}
.news_pera{
    font-size: 15px;
    line-height: 25px;
    margin: 15px 0;
}

.news_card_section_two{
    flex-direction: row-reverse;
    margin-top: 30px;
}
/* recent section style end */